/*

Contenedor es aquel elemento que servira de estructura, para indicar que se trabajará con CSS Grid la propiedad display debe indicarse en grid o inline-grid.

    display: grid | inline-grid;



La propiedad grid-template-columns nos permite definir las columnas de nuestra grilla.

    grid-template-columns: none | <Longitud> | <Porcentaje> | <Fraccion> | repeat(<valor1> , <valor2>) | minmax( <min> , <max>);

    none -> no hay cuadricula explicita.

    <Longitu> -> Tamaño no negativo, ejemplos px.

    <Porcentaje> -> Porcentaje relativo a la longitud definida del contenedor grid.

    <Fraccion> -> Nueva unidad implementada para indicar una fraccion del contenedor. Ejemplo 1fr, 2fr, 3fr, etc...

    minmax(<min> , <max>) -> min y max son los tamaños minimos y maximos que puede tomar, estos pueden estar dados por longitudes, porcentajes, fracciones, etc...


La propiedad grid-template-rows es analoga a grid-template-columns con la salvedad que esta nos permite definir las filas de nuestra grilla.

    grid-template-rows: none | <Longitud> | <Porcentaje> | <Fraccion> | repeat(<valor1> , <valor2>) | minmax( <min> , <max>);
*/

.celda{
    font-size: 1.5rem;
}

.contenedor-1{
    /* definir 6 columnas */
    grid-template-columns: repeat(6, 1fr);
    /* definir 2 filas */
    grid-template-rows: 50px 75px;
    /* espaciado */
    gap: 5px;
}

.contenedor-2{
    /* definir 4 columnas */
    grid-template-columns: repeat(4, 1fr);
    /* definir 4 columnas: 1 será implicita */
    grid-template-rows: repeat(4, 2fr);
    gap: 5px;
}

.contenedor-3{
    /* definir 3 columnas */
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}

.contenedor-4{
    /* definir 2 filas */
    grid-template-columns: 50% 50%;
    gap: 5px;
}

.contenedor-5{
    /* definir tamaño de filas */
    grid-template-rows: repeat(4,1fr) repeat(4,2fr)repeat(4,3fr);
    row-gap: 5px;
}

.contenedor-6{
    /* definir 12 columnas y ninguna fila */
    grid-template-columns: repeat(12,1fr);
    column-gap: 2px;
}