/*
Las medidas minimas y maximas nos ayudan a permitir que nuestra grilla se adapte a ciertos tamaños.

Para un diseño responsive deberia mezclarse con media query.
*/

.contenedor-1{
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: minmax(50px , auto) minmax(100px ,auto);
}

.contenedor-2{
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: minmax(100px , auto) minmax(2fr , auto);
    gap: 1px 5px;
}

.contenedor-3{
    /* ajustar columnas segun el tamaño disponible con auto-fill y definiendo un minimo=X y max=1fr para adaptarse de forma simetrica */
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));

    /* filas definidas de forma implicita */
    grid-auto-rows: minmax(150px , auto);
    
    gap: 5px;
}

