/*
En vez de escribir una configuracion n cantidad de veces se utiliza la propiedad repeat(<cantidad>, <config>);

    <cantidad> : numero de veces que se repetira.

    <config> : ejemplo un tamaño de fila o columnas.

*/

.contenedor-1{
    gap: 5px;

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);

    /* grid-template-rows: 2fr 2fr 2fr; */
    grid-template-rows: repeat(3, 2fr);
}

.contenedor-2{
    gap: 5px;
    
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;

    grid-template-rows: 1fr repeat(2 , 3fr);
}