/*
La propiedad grid-column-start nos permite definir la posicion inicial de una columna de la grilla.

La propiedad grid-column-end nos permite definir la posicion final de una columna de la grilla.

    grid-column-start | grid-column-end : auto | <numero_linea> | span <cantidad_lineas>;

    auto -> valor por defecto.

    numero_linea -> numero entero, que indica el numero de la columna que se quiere posicionar. La posicion por defecto empieza de izquierda a derecha con los numeros de linea desde 1 hasta n. Pero tambien en orden inverso de derecha izquierda empezando con -1 hasta -n.

    span <cantidad_lineas> -> span recibe un numero entero que es la cantidad de lineas que se quiere "estirar" la celda.

La propiedada grid-column es un shorthand que abarca las propiedades grid-column-start y grid-column-end.

    grid-column: <grid-column-start> / <grid-column-end>;


La propiedad grid-row-start define la posicion inicial de una fila de nuestra grilla.

La propiedad grid-row-end define la posicion final de una fila de nuestra grilla.

    grid-row-start | grid-row-end : auto | <numero_linea> | span <cantidad_lineas>;

    <numero_linea> -> El numero de linea en caso de las filas esta dado de arriba hacia abajo, empezando por la linea 1 hasta la linea n. En el orden inverso empieza desde la linea -1 hasta la linea -n.

La propiedad grid-row es un shorthand que abarca las propiedades grid-row-start y grid-row-end.

    grid-row: <grid-row-start> / <grid-row-end>; 


La propiedad grid-area es un shorthand que engloba las 4 propiedades de filas y columnas.

    grid-area: <grid-row-start> / <grid-column-start> / <grid-row-end> / <grid-column-end>; 
*/

.documentacion{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    grid-auto-rows: minmax(50px , auto);
}

.contenedor-1{
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.contenedor-1 > .celda-1-1{
    /* cambiar posicionamiento */

    /* columna empieza en la linea 1 y termina en la linea 3 */
    grid-column-start: 1;
    grid-column-end: 4;

    /* posicionando filas */
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: lightcoral;

}

.contenedor-1 > .celda-1-2{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 5;

    background-color: lightskyblue;
}

.contenedor-1 > .celda-1-3{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 5;

    background-color: lightsalmon;
}

.contenedor-1 > .celda-1-4{
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 6;

    background-color: limegreen;
}

.contenedor-2{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
}

.contenedor-2 > .celda-2-1{
    grid-column: 1 / 4;

    grid-row: 1 / 1;

    background-color: darkgray;
}

.contenedor-2 > .celda-2-2{
    grid-column: 1 / 3;

    grid-row: 2 / 5;

    background-color:darkcyan;
}

.contenedor-2 > .celda-2-3{
    grid-column: 3 / 4;

    grid-row: 2 / 5;

    background-color: darkred;
}

.contenedor-2 > .celda-2-4{
    grid-column: 1 / 4;

    grid-row: 5 / 6;

    background-color:darkviolet;
}

.contenedor-3{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 5px;
}

.contenedor-3 > .celda-3-1{
    grid-area: 1 / 1 / 2 / 5;
    background-color:darkslategray;
}

.contenedor-3 > .celda-3-2{
    grid-area: 2 / 1 / 7 / 4;
    background-color:seagreen;
}

.contenedor-3 > .celda-3-3{
    grid-area: 2 / 4 / 7 / 5;
    background-color:mediumblue;
}

.contenedor-3 > .celda-3-4{
    grid-area: 7 / 1 / 8 / 5;
    background-color: crimson;
}

.contenedor-4{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 5px;
}

.contenedor-4 > .celda-4-1{
    grid-column: 1 / span 5;
    background-color:mediumblue;
}

.contenedor-4 > .celda-4-2{
    grid-row: 2 / span 5;
    grid-column: 1 / span 4;
    background-color: seagreen;
}

.contenedor-4 > .celda-4-3{
    grid-column: 5 / span 1;
    grid-row: 2 / span 5;
    background-color: purple;
}

.contenedor-4 > .celda-4-4{
    grid-column: 1 / span 5;
    background-color: crimson;
}