.contenedor-1{
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);

    /* establezco un header que abarque 3 columnas */
    grid-template-areas:
    "header         header           header"
    "sidebar-1      contenido        sidebar-2"
    "sidebar-1      contenido        sidebar-2"
    "footer         footer           footer"
    ;
}


/* estilos de mi header */
.contenedor-1 > .header{
    /* grid-column: header / header; */
    
    grid-column: header;

    background-color: #666;
}

.contenedor-1 > .sidebar-1{
    grid-row: sidebar-1;

    background-color: aquamarine;
}

.contenedor-1 > .contenido{
    grid-area: contenido;
    background-color: teal;
}

.contenedor-1 > .sidebar-2{
    grid-row: sidebar-2;
    background-color: orange;
}

.contenedor-1 > .footer{
    grid-column: footer;
}

.contenedor-adaptado{
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "header         header      header"
    "main           main        aside"
    "main           main        aside"
    "main           main        aside"
    "widget-1       widget-2    aside"
    "footer         footer      footer"
    ;
}

.contenedor-adaptado > .header{
    grid-area: header;
    background-color: #333;
}

.contenedor-adaptado > .main{
    grid-area: main;
    background-color: teal;
}

.contenedor-adaptado > .aside{
    grid-area: aside;
    background-color:salmon;
}

.contenedor-adaptado > .widget-1{
    grid-area: widget-1;
    background-color: darkorange;
}

.contenedor-adaptado > .widget-2{
    grid-area: widget-2;
    background-color: darkorange;
}

.contenedor-adaptado > .footer{
    grid-area: footer;
    background-color: navy;
}

@media screen and (max-width: 768px) {
    .contenedor-adaptado{
        grid-template-areas:
        "header         header          header"
        "main           main            main"
        "main           main            main"
        "widget-1       aside           aside"
        "widget-2       aside           aside"
        "footer         footer          footer"
        ;
    }
}

@media screen and (max-width: 576px) {
    .contenedor-adaptado{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-areas:
            "header         header"
            "main           main"
            "aside          aside"
            "widget-1       widget-2"
            "footer         footer"
        ;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-adaptado{
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "main"
                "aside"
                "widget-1"
                "widget-2"
                "footer"
        ;
    }
}