/*
La propiedad justify-items nos permitira alinear elementos horizontalmente dentro de un contenedor.

La propiedad align-items nos permitira alinear elementos verticalmente dentro de un contenedor.

La propiedad justidy-self nos permitira alinear un elemento horizontalmente de forma independiente de la conf de su contenedor.

La propiedad align-self nos permitira alinear un elemento verticalmente de forma independiente de la conf de su contenedor.


    justify-items | align-items | justify-self | align-self : auto | stretch | start | end | center | baseline;

*/

.contenedor-1{
    gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));

    /* alinear horizontalmente */
    /* justify-items: auto; */
    /* justify-items: stretch; */
    /* justify-items: start; */
    /* justify-items: end; */
    justify-items: center;
    /* justify-items: baseline; */


    /* alinear verticalmente */
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: baseline; */
    /* align-items: auto; */
    /* align-items: stretch; */
    align-items: center;
}

.alineado{
    /* alineado horizontal */
    /* justify-self: auto; */
    /* justify-self: baseline; */
    justify-self: stretch;
    /* justify-self: start; */
    /* justify-self: center; */
    /* justify-self: end; */


    /* alineado vertical */
    /* align-items: auto; */
    /* align-items: baseline; */
    align-items: stretch;
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
}