/*
La propiedad justify-content nos permitira alinear horizontalmente.

La propiedad align-content nos permitira alinear verticalmente.

Sintaxis: 

    justify-content | align-content : auto | stretch | baseline | start | center | end | space-around | space-between | space-evenly;

*/

.contenedor-alineado{
    height: 500px;
    grid-template-columns: repeat(3 , 100px);
    grid-template-rows: repeat(3 , 100px);
    gap: 10px;

    /* alineado horizontal */
    /* justify-content: auto; */
    /* justify-content: stretch; */
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;


    /* alineacion vertical */
    /* align-content: auto; */
    /* align-content: stretch; */
    /* align-content: start; */
    /* align-content: center; */
    /* align-content: end; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    align-content: space-evenly;
}