.documentacion{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.contenedor-1{
    gap: 10px;
    /* definiendo columnas explicitas */
    grid-template-columns: 200px 1fr 200px;
    /* definiendo filas explicitar */
    grid-template-rows: 100px 200px 100px;

    /* definiendo filas de forma implicita */
    grid-auto-rows: minmax(100px , auto);
}


.contenedor-2{
    display: none;
    gap: 10px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 200px 100px;

    /* cambiar el flow del grid */
    grid-auto-flow: column;

    /* definir columnas de forma implicita */
    grid-auto-columns: minmax(100 , auto);
}

.contenedor-3{
    gap: 10px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 200px 100px;

    /* rellenar espacios en blanco */
    grid-auto-flow:row dense;
    /* grid-auto-flow: column dense; */
}

.contenedor-3 > .span-2{
    grid-column: span 2;
    background-color: #ff8000;
}

.contenedor-3 > .span-3{
    grid-column: span 3;
    background-color: #3af32a;
}