/*
La propiedad auto-fill rellena toda la linea con todos los elementos que pueda poner, si faltan elementos rellena espacio restante con lineas implicitas, si ya no caben hace un salto de linea.


La propiedad auto-fit rellenar todo el espacio disponible del contenedor, estirando los elementos, en caso de no caber se hace un salto de linea.

*/

.contenedor-1{
    gap: 10px;
    grid-template-columns: repeat(auto-fill ,  minmax(100px , 1fr));
}

.contenedor-2{
    gap: 10px;

    grid-template-columns: repeat(auto-fit , minmax(100px , 1fr));
}