@font-face {
    font-family: gluten-bold;
    src: url('./../assets/font/gluten/Gluten-Bold.ttf');
}

@font-face {
    font-family: gluten-light;
    src: url('./../assets/font/gluten/Gluten-Light.ttf');
}

@font-face {
    font-family: gluten-regular;
    src: url('./../assets/font/gluten/Gluten-Regular.ttf');
}

@font-face {
    font-family: gluten-thin;
    src: url('./../assets/font/gluten/Gluten-Thin.ttf');
}

@font-face {
    font-family: lato-black;
    src: url('./../assets/font/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: lato-black-italic;
    src: url('./../assets/font/Lato/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('./../assets/font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-bold-italic;
    src: url('./../assets/font/Lato/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: lato-italic;
    src: url('./../assets/font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: lato-light;
    src: url('./../assets/font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: lato-light-italic;
    src: url('./../assets/font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: lato-regular;
    src: url('./../assets/font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-thin;
    src: url('./../assets/font/Lato/Lato-Thin.ttf');
}

@font-face {
    font-family: lato-thin-italic;
    src: url('./../assets/font/Lato/Lato-ThinItalic.ttf');
}

@font-face {
    font-family: roboto-black;
    src: url('./../assets/font/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: roboto-black-italic;
    src: url('./../assets/font/Roboto/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('./../assets/font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: roboto-bold-italic;
    src: url('./../assets/font/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: roboto-italic;
    src: url('./../assets/font/Roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('./../assets/font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-light-italic;
    src: url('./../assets/font/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('./../assets/font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: roboto-medium-italic;
    src: url('./../assets/font/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: url('./../assets/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-thin;
    src: url('./../assets/font/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto-thin-italic;
    src: url('./../assets/font/Roboto/Roboto-ThinItalic.ttf');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.header{
    padding: 20px 0;
    margin-bottom: 10px;
    
    background-color: #04293A;
}


.contenedor{
    /* contenedor necesita establecerse en grid */
    display: grid;

    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    border: 5px solid #fff;

}

.contenedor > .celda{
    display: block;
    padding: 20px;
    
    background-color: #2f89fc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


.footer{
    background-color: #04293A;
}

.doc{
    display: block;
    width: max-content;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: teal;
}

.doc:hover{
    background-color: #333;
}