*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    text-align: center;
    background-color: #334756;
    color: #fff;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    background-color: #04293A;
}

.header > .logo{
    display: flex;
    align-items: center;
}

.logo > img{
    width: 48px;
}

.logo > a{
    font-size: 2rem;
    font-family: Verdana;
    text-decoration: none;
    color: #fff;
}

.navegacion{
    width: 70%;
    /* border: 5px solid #fff; */
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion > .menu{
    display: flex;
    justify-content: space-around;
}

.menu>li{
    position: relative;
    flex-grow: 1;
}

li>a{
    display: block;
    padding: 0.5em 1em;

    font-family: cursive;
    font-size: 1.25rem;
    text-decoration: none;
    
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: #2C394B;
    color: #fff;
}

li>a:hover{
    background-color: #0a7066;
    transition: .5s;
}

.submenu{
    position: absolute;
    z-index: 1500;

    display: flex;
    flex-direction: column;
    
    width:100%;
    
    /* esconder submenu */
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

/* Aparecer el submenu */
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu > li > a{
    border-bottom: 2px solid #000;
}

.unidad{
    padding: 0.25em;
    margin-bottom: 20px;
    background-color: #35858B;
}

.unidad .titulo-unidad{
    position: sticky;
    top: 48px;
    z-index: 500;

    margin: 0;
    margin-bottom: 5px;
    
    font-size: 2.3rem;
    font-family: Helvetica;
    
    background-color: #35858B;
}

.unidad .temas{
    margin: 0;
    padding: 0;
    list-style: none;
}

.temas .tema{
    margin-bottom: 10px;
}

.tema>a{
    /* display: block; */
    font-size: 1.4rem;
    font-family:cursive;
    /* background-color: #54BAB9; */
    background-color: #4FBDBA;
    border-radius: 0.5em;
}

.footer{
    position:sticky;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
    background-color: #04293A;
}

.footer > .logo > img{
    width: 32px;
}

@media (max-width: 768px) {
    .header{
        flex-direction: column;
    }

    .header > .logo{
        justify-content: center;
        padding: 10px 0;
    }

    .header > .navegacion{
        width: 100%;
    }

    .unidad > .titulo-unidad{
        top: 110px;
    }
}


@media (max-width: 576px){
    .menu{
        flex-direction: column;
    }

    .submenu{
        right: 0;
        width: 50%;
    }

    .unidad > .titulo-unidad{
        top: 195px;
    }

}